<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548403061082-vmubncmo0iva4p29q03570ob6lvc9uqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548403061082-vmubncmo0iva4p29q03570ob6lvc9uqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDadnonuA4SCvbCDY-fGCIYVIZgtEPdcuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>548403061082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LN-lab-iOS</string>
	<key>PROJECT_ID</key>
	<string>calculateur-de-budget</string>
	<key>STORAGE_BUCKET</key>
	<string>calculateur-de-budget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548403061082:ios:011f46137f7acd8c381363</string>
</dict>
</plist>